<!-- Projects Section -->
<section id="signup" class="signup-section">
  <div class="container">

    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="https://forbes.uol.com.br/wp-content/uploads/2019/01/lifestyle-casamento-destaque-210119-getty.jpg" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4 style='color:white'>Nos somos Romeu e Julieta</h4>
          <h4 style='color:white'>E nesse verão iremos selar o nosso amor verdadeiro nos casando</h4>
        </div>
      </div>
    </div>

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="https://guiacasarbem.com.br/blog/wp-content/uploads/2018/07/buffet-de-casamento-em-londrina.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Buffet</h4>
              <p class="mb-0 text-white-50">Vai ter muita comida pra todo mundo encher o bucho.</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="http://bandalumine.com.br/wp-content/uploads/2015/03/banda-para-casamento-1-1084x610.jpg" alt="">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Muita Musica</h4>
              <p class="mb-0 text-white-50">Vamos todo mundo dançar até o sol raiar</p>
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
